/*
 CSS imports:
 This file will be compiled into a fingle file: bundle.css
*/

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  color: #2e2e2e;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  margin: 4px;
  vertical-align: baseline;
}

.landing {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
  position: absolute;
}

.landing,
.landing__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.landing__message {
  margin: 1rem;
  max-width: 80%;
  font-size: 1.2rem;
}

.villain {
  border: 0 !important;
  width: 100%;
  height: 100%;
}

.button {
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border: 0.2rem solid #2e2e2e;
  border-radius: 24px;
  cursor: pointer;
  margin: 0.4rem;
}

.button:hover,
.button:focus {
  background: #2e2e2e;
  color: #fff;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 80px;
  height: 80px;
  display: block;
  z-index: 1;
}

.github-corner svg {
  fill: #2e2e2e;
  color: #fff;
  width: 100%;
  height: 100%;
}

.github-corner .octo-arm {
  transform-origin: 130px 106px;
}

.logo {
  margin: 0;
  max-width: 224px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Horizontal portrait mode */
@media screen and (max-height: 480px) {
  body {
    font-size: 0.9rem;
  }

  .logo {
    width: 164px;
  }

  .landing__message {
    font-size: 1rem;
    margin: 0.72rem;
  }

  .button {
    padding: 0.2rem 0.8rem;
  }
}
