/*
 CSS imports:
 This file will be compiled into a fingle file: bundle.css
*/

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  color: #2e2e2e;
}

a {
  text-decoration: none;
  padding: 1px;
  color: #2e2e2e;
  border-bottom: 1px dotted #2e2e2e;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.footer__icon {
  margin: 4px;
  vertical-align: baseline;
}

.landing {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
  height: calc(100vh - 40px);
  min-height: 380px;
}

.landing,
.landing__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.landing__content {
  max-width: 500px;
  padding: 1rem;
}
.landing__quote {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
  max-width: 400px;
}

.url-input {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border: 0.2rem solid #2e2e2e;
  border-radius: 0.64rem;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 1.2rem 0;
}

.code-block {
  border: 0.2rem solid #2e2e2e;
  border-radius: 0.64rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: monospace;
  font-size: 0.9em;
}

.input {
  border: 0;
  margin: 0.48rem;
  height: auto;
  flex: 1 0 0;
  outline: 0;
  box-shadow: none;
  padding: 0.2rem;
}

.tag {
  border-radius: 0.2rem;
  padding: 0.4rem 0.8rem;
  background: #ddd;
  font-weight: bold;
  display: inline-block;
  margin: 0.2rem;
}

.landing__message {
  margin: 0.8rem 0;
  font-size: 1.2rem;
}

.landing__message p {
  margin: 0;
}

.villain {
  border: 0 !important;
  width: 100%;
  height: 100%;
}

.button {
  font-weight: bold;
  padding: 0.4rem 1rem;
  border: 0.2rem solid #2e2e2e;
  border-radius: 24px;
  cursor: pointer;
  margin: 0.4rem 0;
  font-size: 1em;
  font-family: inherit;
  background: #2e2e2e;
  color: #fff;
}

.button--primary {
  margin-right: 0.8rem;
}

.button--icon {
  border: 0;
  margin: 0.24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

.button--secondary {
  color: #2e2e2e;
  background-color: transparent;
  margin-left: 0.8rem;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 80px;
  height: 80px;
  display: block;
  z-index: 1;
}

.github-corner svg {
  fill: #2e2e2e;
  color: #fff;
  width: 100%;
  height: 100%;
}

.github-corner .octo-arm {
  transform-origin: 130px 106px;
}

.logo {
  margin: 0;
  max-width: 224px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Horizontal portrait mode */
@media screen and (max-height: 480px) {
  body {
    font-size: 0.9rem;
  }

  .logo {
    width: 164px;
  }

  .landing__message,
  .url-input {
    font-size: 1rem;
    margin: 0.64rem 0;
  }

  .button {
    padding: 0.2rem 0.8rem;
  }

  .button--icon {
    padding: 0;
  }
}
