.villain-button {
  background: var(--button-bg);
  border: 0;
  border-radius: 4px;
  color: var(--fg-color);
  margin: 0 4px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.villain-button--icon {
  padding: 0.3em;
  border-radius: 4px;
  background: transparent;
  width: 32px;
  height: 32px;
  margin: 0px 6px;
}

.villain-button__label {
  padding: 2px 4px;
}

.villain-button--icon:hover:not([aria-disabled='true']):not(.villain-button--active),
.villain-button--icon:focus:not([aria-disabled='true']):not(.villain-button--active) {
  background: var(--button-hover-bg);
}

.villain-button--active:not([aria-disabled='true']),
.villain-button--icon:active:not([aria-disabled='true']) {
  background: var(--button-active-bg);
}

.villain-button[aria-disabled='true'] {
  opacity: 0.4;
  cursor: default;
}
