.tooltip-con {
  width: max-content;
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 4px 8px;
  background-color: var(--tooltip-bg);
  border-radius: 4px;
  z-index: 99;
  display: block;
  transition: all 0.4s;
  transform: translate(-50%, -100%);
}

.tooltip-con.top-edge {
  bottom: -220%;
}
.tooltip-con.right-edge {
  left: 0;
}
.tooltip-con.left-edge {
  left: 100%;
}

.tooltip-text {
  color: var(--tooltip-fg);
  font-size: 0.8em;
}
