.villain {
  --font-family: Helvetica. Arial, sans-serif;
  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  font-size: 14px;

  /* Size limits */
  min-height: 359px;
  min-width: 640px;
}

.villain--static .villain-toolbar {
  border-radius: 0;
  margin: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.villain--static .villain-canvas {
  bottom: var(--toolbar-height);
}

.villain .villain-icon {
  fill: var(--icon-color);
}
