.menu {
  background: var(--toolbar-bg);
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 4px 6px;
}

.menu-item .villain-icon,
.menu-checkbox .villain-icon {
  margin-right: 12px;
}

.menu-item, .menu-checkbox {
  padding: 6px 8px;
  margin: 4px 0;
  border: 0;
  background: transparent;
  font-size: 14px;
  color: var(--fg-color);
  width:100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  border-radius: 4px;
}

.menu-item-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-grow: 1 1 0;
  width: 100%;
}


.menu-item-toggler {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  background: var(--button-bg);
  position: relative;
  margin-left: 24px;
  padding: 1px;
}

.menu-item-toggler::after {
  content: '';
  display: block;
  background: #FFF;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto 4px;
  transform: translate(0, -50%);
  border-radius: 12px;
}

.menu-checkbox[aria-checked=true] .menu-item-toggler::after {
  left: initial;
  right: 0;
  transform: translate(0, -50%);
}

.menu-checkbox[aria-checked=true] .menu-item-toggler {
  background: #EF5350;
}

.menu-item:focus, .menu-checkbox:focus {
  background: var(--button-bg);
}

.menu-separator {
  border: 0;
  margin: 8px 0;
  border-top: 1px solid var(--fg-color);
  opacity: 0.2;
}
