.villain-menu {
  /* Vars */
  --menu-width: 240px;
  width: var(--menu-width);
  max-height: 280px;
  background: var(--toolbar-bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.villain-menu__item .villain-icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.villain-menu__radio .villain-icon {
  margin-right: 14px;
}

.villain-menu__item:first-child {
  margin-top: 0;
}

.villain-menu__item:last-child {
  margin-bottom: 0;
}

.villain-menu__item {
  padding: 8px;
  border: 0;
  background: transparent;
  font-size: 14px;
  color: var(--fg-color);
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.villain-menu__item__content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-grow: 1 1 0;
  width: 100%;
}
.villain-menu__item .villain-menu__item__icon {
  margin: 0;
}

.villain-menu__item__toggler {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  position: relative;
  margin-left: 24px;
  background: var(--toggler-bg);
}

.villain-menu__item__toggler::after {
  content: '';
  display: block;
  background: var(--toolbar-bg);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto 4px;
  transform: translate(0, -50%);
  border-radius: 12px;
}

.villain-menu__checkbox[aria-checked='true'] .villain-menu__item__toggler::after {
  left: initial;
  right: 0;
  transform: translate(0, -50%);
}

.villain-menu__checkbox[aria-checked='true'] .villain-menu__item__toggler {
  background: var(--fg-color);
}

.villain-menu__item:focus {
  background: var(--button-bg);
}

.villain-menu__separator {
  border: 0;
  margin: 0;
  border-top: 1px solid var(--fg-color);
  opacity: 0.2;
}

.villain-menu__panel {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background: var(--toolbar-bg);
}

.villain-menu__animated-content {
  margin: 0;
}

.villain-menu__header .villain-menu__item {
  margin: 0;
}

.villain-menu__title {
  padding: 8px;
  margin: 4px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
