.villain-toolbar .tooltip {
  position: absolute;
  margin: auto;
  bottom: 40px;
  font-family: var(--font-family);
}

.villain-toolbar .tooltip .tooltiptext {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-fg);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  display: inline-block;
  z-index: 1;
  line-height: 1;
  transform: translate(-50%, -100%);
}
