.villain-toolbar .tooltip-container {
  position: relative;
  font-family: var(--font-family);
}

.villain-toolbar .tooltip {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-fg);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 18px;
  max-width: 64px;
  min-width: 24px;
  height: 24px;
  padding: 2px;
  line-height: 24px;
  display: block;
  z-index: 1;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  left: -25%;
  bottom: 24px;
  transform: rotate(45deg);
}

.villain-toolbar .tooltip-text {
  transform: rotate(-45deg);
}
