.villain[data-theme='Dark'] {
  --bg-color: #131313;
  --fg-color: #fff;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(255, 255, 255, 0.1);
  --slider-track-bg: #fff;
  --slider-buffer-bg: rgba(255, 255, 255, 0.4);
  --input-border-focus: rgba(255, 255, 255, 0.4);
  --input-bg: rgba(0, 0, 0, 0.24);
  --input-border: rgba(0, 0, 0, 0.24);
  --input-focus-bg: rgba(225, 225, 225, 0.15);
  --button-bg: rgba(255, 255, 255, 0.1);
  --button-active-bg: rgba(255, 255, 255, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #282828;
  --toolbar-border: rgba(255, 255, 255, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: #575a67;
  --tooltip-fg: var(--fg-color);
  --toggler-bg: rgba(255, 255, 255, 0.24);
}

.villain[data-theme='Light'] {
  --bg-color: #f7f7f7;
  --fg-color: #757575;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(0, 0, 0, 0.1);
  --slider-buffer-bg: rgba(0, 0, 0, 0.2);
  --slider-track-bg: var(--fg-color);
  --input-bg: #fff;
  --input-border: rgba(180, 180, 180, 0.4);
  --input-border-focus: rgba(150, 150, 150, 0.4);
  --input-focus-bg: rgba(200, 200, 200, 0.24);
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-active-bg: rgba(0, 0, 0, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #fff;
  --toolbar-border: rgba(0, 0, 0, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: var(--fg-color);
  --tooltip-fg: #fff;
  --toggler-bg: rgba(0, 0, 0, 0.24);
}
