.villain-tooltip {
  color: var(--tooltip-fg, #fff);
  background-color: var(--tooltip-bg, #575a67);
  width: max-content;
  z-index: 99;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.villain-tooltip--slider {
  left: 50%;
  bottom: 28px;
  padding: 0;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  border: none;
  background: var(--tooltip-bg);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
}

.villain-tooltip--slider::before {
  content: '';
  top: 9px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  background: var(--tooltip-bg);
  margin-left: -10px;
  z-index: -1;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 10px 10px 0 10px;
}
