/* toolbar */

.villain-toolbar.villain-toolbar--hide {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition-delay: 0.8s;
}

.villain-toolbar {
  background: var(--toolbar-bg);
  padding: 0 4px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: var(--toolbar-height);
  margin: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  /* animations */
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}

.villain-toolbar__divider {
  height: 1em;
  width: 2px;
  margin: 0 12px;
  border: 0;
  background: var(--toolbar-border);
}

.villain-toolbar__group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}

.villain-toolbar__group[disabled] {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.villain-toolbar__group--expand {
  flex-grow: 1;
}
