html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Segoe UI,Roboto, Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

h3 {
  margin: 16px 0;
}

body,
#app,
.villain-demo {
  display: flex;
  flex: 1;
}

.villain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 80% !important;
  width: 80% !important;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.villain-demo label {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--input-border);
}

.villain-demo label span {
  opacity: 0.72;
}

.villain-demo aside {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow: auto;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12);
  background-color: var(--card-bg);
}

.villain-demo .form {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.villain-demo .field input {
  color: var(--primary-text);
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  padding: 2px 6px;
  max-width: 50%;
  padding: 0.25em 0.5em;
}

.villain-demo .field input[type='checkbox'] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.villain-demo .field select {
  padding: 0.25em 0.5em;
  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
  border: 1px solid var(--input-border);
  border-radius: 0;
  background-color: var(--input-bg);
  color: var(--primary-text);
  display: inline-block;
}

.villain-demo .instance {
  align-self: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.villain-demo .field .custom-checkbox-input {
  opacity: 1;
  position: relative;
  background: transparent;
  border: 0;
  outline: 0;
}

.villain-demo .field .custom-checkbox-input::before {
  content: '';
  position: absolute;
  background: var(--input-bg);
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  display: block;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: 2px solid var(--input-border);
  border-radius: 0.3rem;
}

.villain-demo .field .custom-checkbox-input:checked::before {
  background: #ff5c65;
}

.villain-demo .field .custom-checkbox-input::after {
  content: '';
  position: absolute;
  display: none;
  left: 16%;
  bottom: -20%;
  width: 4px;
  height: 8px;
  transform: translate(-50%, -50%);
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  cursor: pointer;
}

.villain-demo .field .custom-checkbox-input:checked::after {
  display: block;
}
