.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header__button {
  padding: 0 15px;
  height: 32px;
  background: var(--primaryTheme);
  font-size: 13px;
  color: var(--primaryButtonText);
}
