.villain-canvas {
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 0;
}

.villain-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: var(--bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.villain-overlay--message {
  margin: 1em;
}

.villain-loader-indicator,
.villain-loader-indicator:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.villain-loader-indicator {
  margin: 60px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.6em solid var(--toolbar-border);
  border-right: 1.6em solid var(--toolbar-border);
  border-bottom: 1.6em solid var(--toolbar-border);
  border-left: 1.6em solid var(--fg-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: villain-animation-load 1.1s infinite linear;
  animation: villain-animation-load 1.1s infinite linear;
}

/* Hide openseadragon error messages */
.openseadragon-message {
  display: none !important;
}
