.villain-menu {
  /* Vars */
  --menu-width: 240px;
  --menu-item-height: 38px;
  outline: none;
  min-width: var(--menu-width);
  border-radius: 8px;
  transform-origin: bottom;
}

.villain-menu__item .villain-icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.villain-menu__radio .villain-icon {
  margin-right: 14px;
}

.villain-menu__item:first-child {
  margin-top: 0;
}

.villain-menu__item:last-child {
  margin-bottom: 0;
}

.villain-menu__item {
  padding: 0 14px;
  border: 0;
  background: transparent;
  font-size: 14px;
  color: var(--fg-color);
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  cursor: pointer;
  height: var(--menu-item-height);
}

.villain-menu .villain-menu__item:focus {
  box-shadow: none;
}

.villain-menu__item__content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex: 1 0 0;
}
.villain-menu__item .villain-menu__item__icon {
  margin: 0;
}

.villain-menu__item__toggler {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  position: relative;
  margin-left: 24px;
  background-color: var(--toggler-bg);
}

.villain-menu__item__toggler::after {
  content: '';
  display: block;
  background-color: var(--toolbar-bg);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto 4px;
  transform: translate(0, -50%);
  border-radius: 12px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: transform;
}

.villain-menu__checkbox[aria-checked='true'] .villain-menu__item__toggler::after {
  transform: translate(125%, -50%);
}

.villain-menu__checkbox[aria-checked='true'] .villain-menu__item__toggler {
  background-color: var(--fg-color);
}

.villain-menu__item:focus {
  background: var(--button-bg);
  outline: none;
}

.villain-menu__separator {
  border: 0;
  margin: 0;
  border-top: 1px solid var(--fg-color);
  opacity: 0.2;
}

.villain-menu__panel {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background: var(--toolbar-bg);
}

.villain-menu__animated-content {
  margin: 0;
  width: var(--menu-width);
  background: var(--toolbar-bg);
  /*
   This affects the height of the menu on electron ( box-shadow used instead ):
   border: 1px solid rgba(0, 0, 0, 0.2);
  */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  will-change: transform, height, opacity;
}

.villain-menu__animated-content[data-animation='true'] {
  pointer-events: none;
  overflow: hidden;
}

.villain-menu__header .villain-menu__item {
  margin: 0;
}

.villain-menu__title {
  padding: 8px;
  margin: 4px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
