.villain-slider {
  position: relative;
  margin: 0 8px;
  flex-grow: 1;
  width: 100%;
  min-width: 50px;
}

.villain-slider__buffer {
  z-index: 0;
  margin: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--slider-buffer-bg);
  position: absolute;
  transition: width 0.3s ease;
  will-change: width;
}

.villain-slider__track {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  border-radius: 4px;
  background-color: var(--slider-track-bg);
  cursor: pointer;
}
