html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.villain-demo[data-theme='Light'] {
  /* global colors */
  --primary-bg: #f2f2f2;
  --card-bg: #fff;
  --primary-text: #212121;
  --input-bg: #fff;
  --input-border: rgba(0, 0, 0, 0.2);
}

.villain-demo[data-theme='Dark'] {
  /* global colors */
  --primary-bg: #0b0b0b;
  --card-bg: #282828;
  --primary-text: #fff;
  --input-bg: rgba(255, 255, 255, 0.1);
  --input-border: rgba(255, 255, 255, 0.4);
}

.villain-demo {
  background: var(--primary-bg);
  color: var(--primary-text);
  font-weight: 400;
}
