.villain.Dark {
  --bg-color: #0c0d11;
  --fg-color: #fff;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(255, 255, 255, 0.1);
  --slider-track-bg: #fff;
  --slider-buffer-bg: rgba(255, 255, 255, 0.4);
  --input-border-focus: rgba(255, 255, 255, 0.4);
  --input-bg: rgba(0, 0, 0, 0.24);
  --input-border: rgba(0, 0, 0, 0.24);
  --input-focus-bg: rgba(225, 225, 225, 0.15);
  --button-bg: rgba(255, 255, 255, 0.1);
  --button-active-bg: rgba(255, 255, 255, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #1f212b;
  --toolbar-border: rgba(255, 255, 255, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: #575a67;
  --tooltip-fg: var(--fg-color);
}

.villain.Light {
  --bg-color: #f7f7f7;
  --fg-color: #757575;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(0, 0, 0, 0.1);
  --slider-buffer-bg: rgba(0, 0, 0, 0.2);
  --slider-track-bg: var(--fg-color);
  --input-bg: #fff;
  --input-border: rgba(180, 180, 180, 0.4);
  --input-border-focus: rgba(150, 150, 150, 0.4);
  --input-focus-bg: rgba(200, 200, 200, 0.24);
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-active-bg: rgba(0, 0, 0, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #fff;
  --toolbar-border: rgba(0, 0, 0, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: rgba(24, 24, 24, 0.64);
  --tooltip-fg: #fff;
}

.villain {
  --font-family: Helvetica. Arial, sans-serif;

  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: sans-serif;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.villain--static .villain-toolbar {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.villain--static .villain-canvas {
  bottom: var(--toolbar-height);
}

.villain .villain-icon {
  fill: var(--icon-color);
}

/* Slider */

.villain .villain-slider {
  position: relative;
  margin: 0 8px;
  flex-grow: 1;
  width: 100%;
  min-width: 50px;
}

.villain-slider .buffer {
  z-index: 0;
  margin: 0;
  height: 100%;
  background-color: var(--slider-buffer-bg);
  position: absolute;
  transition: width 0.3s ease;
}

.villain-slider .slider-track {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  border-radius: 4px;
  background-color: var(--slider-track-bg);
  cursor: pointer;
}

/* input */

.villain-toolbar .villain-input {
  -moz-appearance: textfield;
  text-align: right;
  max-width: 38px;
  font-size: 16px;
  font-family: var(--font-fami]y);
  font-weight: 700;
  background: var(--input-bg);
  border: 0;
  color: var(--fg-color);
}

.villain-toolbar .villain-input:focus {
  background: transparent;
  border-color: transparent;
  outline: 0;
}

.villain-toolbar input[type='number']::-webkit-inner-spin-button,
.villain-toolbar input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.villain-label {
  margin: 0 6px;
  opacity: 0.8;
  font-size: 16px;
  padding: 0 2px;
  font-weight: 700;
}

.villain-toolbar .wrapselect-container {
  display: flex;
  align-items: center;
}

.villain-toolbar select {
  background: var(--input-bg);
  border: 2px solid var(--input-border);
  color: var(--fg-color);
  margin: 0 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

/* global tooltip */

.tooltip-con {
  width: max-content;
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 4px 8px;
  background-color: var(--tooltip-bg);
  border-radius: 4px;
  z-index: 99;
  display: block;
  transition: all 0.4s;
  transform: translate(-50%, -100%);
}

.tooltip-con.top-edge {
  bottom: -220%;
}
.tooltip-con.right-edge {
  left: 0;
}
.tooltip-con.left-edge {
  left: 100%;
}

.tooltip-text {
  color: var(--tooltip-fg);
  font-size: 0.8em;
}

/* toolbar */

.villain-toolbar.villain-toolbar-hide:not(:hover) {
  bottom: -50px;
  opacity: 0;
  transition: 0.3s ease;
  transition-property: opacity, bottom;
  transition-delay: 1s;
}

.villain-toolbar {
  font-size: 1rem;
  background: var(--toolbar-bg);
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--toolbar-height);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.3s ease;
  transition-property: opacity, bottom;
  transition-delay: 0.1s;
}

.villain-toolbar .divider {
  height: 1em;
  width: 2px;
  margin: 0 12px;
  background: var(--toolbar-border);
}

.villain-toolbar-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}

.villain-toolbar-group[disabled] {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.villain-toolbar-group-expand {
  flex-grow: 1;
}

/* button */

.villain button {
  background: var(--button-bg);
  border: 0;
  border-radius: 4px;
  color: var(--fg-color);
  margin: 0 4px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.villain .button-icon {
  padding: 0.3em;
  border-radius: 4px;
  background: transparent;
  width: 32px;
  height: 32px;
  margin: 0px 6px;
}

.villain .button-icon:hover:not(:disabled):not(.button--active),
.villain .button-icon:focus:not(:disabled):not(.button--active) {
  background: var(--button-hover-bg);
}

.villain .button--active:not(:disabled),
.villain .button-icon:active:not(:disabled) {
  background: var(--button-active-bg);
}

.villain button[disabled] {
  opacity: 0.64;
  cursor: default;
}

/* slider tooltip */

.villain-toolbar .tooltip {
  position: absolute;
  display: inline-block;
  margin: auto;
  font-family: var(--font-family);
}

.villain-toolbar .tooltip .tooltiptext {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-fg);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  line-height: 1;
  transform: translate(-50%, -100%);
}

/* Layout */

.villain-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  z-index: 99;
}

.villain-canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 0;
}

.openseadragon-message {
  display: none !important;
}

.villain-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: var(--bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.villain-overlay--message {
  margin: 1em;
}

.villain-loader-indicator,
.villain-loader-indicator:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.wrapper-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  flex-grow: 0;
  min-width: 58px;
  background: var(--input-bg);
  border: 2px solid var(--input-border);
  padding: 1px 4px;
  color: var(--fg-color);
  margin: 0 6px;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper-input .villain-input {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  padding-right: 0;
  border-radius: 0;
  display: inline-block;
  min-width: 0;
  text-align: right;
  flex: 1 1 0;
}

.wrapper-input .villain-label {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  display: inline-block;
  min-width: 0;
  width: 25%;
  text-align: left;
  flex: 1 1 0;
}

.wrapper-input[data-focus='true'] {
  background: var(--input-focus-bg);
  border-color: var(--input-border-focus);
}

.wrapper-input .villain-label--center {
  text-align: center;
  flex: 0.5;
}

.villain-loader-indicator {
  margin: 60px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.6em solid var(--toolbar-border);
  border-right: 1.6em solid var(--toolbar-border);
  border-bottom: 1.6em solid var(--toolbar-border);
  border-left: 1.6em solid var(--fg-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

/* Animation */

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
