.villain.Dark {
  --bg-color: #0c0d11;
  --fg-color: #fff;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(255, 255, 255, 0.2);
  --slider-track-bg: #fff;
  --slider-buffer-bg: rgba(255, 255, 255, 0.4);
  --input-border-focus: rgba(255, 255, 255, 0.4);
  --input-bg: rgba(0, 0, 0, 0.32);
  --input-border: rgba(0, 0, 0, 0.24);
  --input-focus-bg: rgba(225, 225, 225, 0.15);
  --button-bg: rgba(255, 255, 255, 0.1);
  --button-active-bg: rgba(255, 255, 255, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #1f212b;
  --toolbar-border: rgba(255, 255, 255, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: #575a67;
}

.villain.Light {
  --bg-color: #f7f7f7;
  --fg-color: #757575;
  --icon-color: var(--fg-color);
  --slider-bg: rgba(0, 0, 0, 0.1);
  --slider-buffer-bg: rgba(0, 0, 0, 0.2);
  --slider-track-bg: rgba(0, 0, 0, 0.2);
  --input-bg: #fff;
  --input-border: rgba(180, 180, 180, 0.4);
  --input-border-focus: rgba(150, 150, 150, 0.4);
  --input-focus-bg: rgba(200, 200, 200, 0.24);
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-active-bg: rgba(0, 0, 0, 0.15);
  --button-hover-bg: var(--button-active-bg);
  --toolbar-bg: #fff;
  --toolbar-border: rgba(0, 0, 0, 0.2);
  --toolbar-height: 50px;
  --tooltip-bg: #cfcfcf;
}

.villain {
  position: relative;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.villain--static .villain-toolbar {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.villain--static .villain-canvas,
.villain--static .villain-canvas--overlay {
  bottom: var(--toolbar-height);
}

.villain .villain-icon {
  fill: var(--icon-color);
}

.villain-preview {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--toolbar-bg);
  color: var(--fg-color);
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
}

/* Slider */

.villain .villain-slider {
  position: relative;
  margin: 0 8px;
  flex-grow: 1;
  width: 100%;
  min-width: 50px;
}

.villain-slider .buffer {
  height: 100%;
  margin: 0;
  background-color: var(--slider-buffer-bg);
  position: absolute;
  z-index: 0;
}

.villain-slider .slider-track {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  border-radius: 4px;
  background-color: var(--slider-track-bg);
  cursor: pointer;
}

/* input */

.villain-toolbar .villain-input {
  -moz-appearance: textfield;
  text-align: right;
  width: 52px;
  background: var(--input-bg);
  border: 2px solid var(--input-border);
  padding: 2px 6px;
  color: var(--fg-color);
  margin: 0 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.villain-toolbar .villain-input:focus {
  background: var(--input-focus-bg);
  border-color: var(--input-border-focus);
}

.villain-toolbar input[type='number']::-webkit-inner-spin-button,
.villain-toolbar input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.villain-label {
  margin: 0 6px;
  opacity: 0.8;
  font-size: 14px;
  padding: 0 2px;
  font-weight: bold;
}

/* toolbar */

.villain-toolbar.villain-toolbar-hide:not(:hover) {
  bottom: -50px;
  opacity: 0;
  transition: 0.3s ease;
  transition-property: opacity, bottom;
  transition-delay: 1s;
}

.villain-toolbar {
  font-size: 1rem;
  background: var(--toolbar-bg);
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--toolbar-height);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.3s ease;
  transition-property: opacity, bottom;
  transition-delay: 0.1s;
}

.villain-toolbar .divider {
  height: 1em;
  width: 2px;
  margin: 0 12px;
  background: var(--toolbar-border);
}

.villain-toolbar-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}

.villain-toolbar-group[disabled] {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.villain-toolbar-group-expand {
  flex-grow: 1;
}

/* button */

.villain button {
  background: var(--button-bg);
  border: 0;
  border-radius: 4px;
  color: var(--fg-color);
  margin: 0 4px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.villain .button-icon {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background: transparent;
}

.villain .button-icon:hover:not(:disabled):not(.button--active),
.villain .button-icon:focus:not(:disabled):not(.button--active) {
  background: var(--button-hover-bg);
}

.villain .button--active:not(:disabled),
.villain .button-icon:active:not(:disabled) {
  background: var(--button-active-bg);
}

.villain .button-toggler {
  padding: 4px;
  background: transparent;
  width: 140px;
}

.villain button[disabled] {
  opacity: 0.64;
  cursor: default;
}

/* tooltip */

.villain-toolbar .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0;
  margin-bottom: 100px;
  margin-left: 22px;
}

.villain-toolbar .tooltip .tooltiptext {
  width: 3rem;
  background-color: var(--tooltip-bg);
  color: var(--fg-color);
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: calc(-1.5rem - 10px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.villain-toolbar .tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

/* Layout */

.villain-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  z-index: 99;
}

.villain-canvas,
.villain-canvas--overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 0;
}

.villain-canvas--overlay {
  background: var(--bg-color);
}

.openseadragon-message {
  display: none !important;
}

.villain-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: var(--bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.villain-loader-indicator,
.villain-loader-indicator:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.villain-loader-indicator {
  margin: 60px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.6em solid var(--toolbar-border);
  border-right: 1.6em solid var(--toolbar-border);
  border-bottom: 1.6em solid var(--toolbar-border);
  border-left: 1.6em solid var(--fg-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

/* Animation */

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
